.subWrapper {
    width: 100%;
    background-image: url("../../images/background.png");
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 32px;
    text-align: center;
    padding: 70px 0px 70px 0px;
    color: white;
    margin-bottom: 150px;
}

.subTitle {
    font-family: Cairo;
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    max-width: 623px;
    width: 100%;
    margin: auto;
}

.subForm {
    max-width: 652px;
    width: 100%;
    margin: 50px auto;
}

.sunEmail {
    width: 70%;
    padding: 22px;
    border-radius: 14px 0px 0px 14px;
    border: none;
    background: #7C6DE3;
    color: white;
}

.sunEmail:focus {
    outline: none;
}

::placeholder {
    color: white;
}

.subscribe {
    padding: 22px;
    border-radius: 0px 14px 14px 0px;
    border: none;
    font-family: Cairo;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #11142D;

}

@media (max-width: 768px) {
   
    .subForm {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .subTitle {
        font-size: 32px;
    }

    .sunEmail {
        width: 95%;
        border-radius: 14px;
        margin: auto;
        margin-bottom: 15px;
    }

    .subscribe {
        width: 50%;
        border-radius: 14px;
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .subWrapper{
        padding: 40px 0px 5px 0px;
    }
    .subTitle {
        font-size: 24px;
    }

    .subForm {
        margin-top: 40px;
        display: flex;
        flex-direction: column;

    }
}